<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true">

    <!-- Activates scanning of @Autowired -->
    <context:annotation-config/>

    <!-- Activates scanning of @Repository and @Service -->
    <context:component-scan base-package="com.redhat"/>

    <!-- Add new DAOs here --> 

    <!--VendorManager-START-->
    <bean id="vendorManager" class="com.redhat.service.impl.GenericManagerImpl">
        <constructor-arg>
            <bean class="com.redhat.dao.hibernate.GenericDaoHibernate">
                <constructor-arg value="com.redhat.model.Vendor"/>
            </bean>
        </constructor-arg>
    </bean>
    <!--VendorManager-END-->

    <!--ProductManager-START-->
    <bean id="productManager" class="com.redhat.service.impl.GenericManagerImpl">
        <constructor-arg>
            <bean class="com.redhat.dao.hibernate.GenericDaoHibernate">
                <constructor-arg value="com.redhat.model.Product"/>
            </bean>
        </constructor-arg>
    </bean>
    <!--ProductManager-END-->
    

    <!--HwArchManager-START-->
    <bean id="hwArchManager" class="com.redhat.service.impl.GenericManagerImpl">
        <constructor-arg>
            <bean class="com.redhat.dao.hibernate.GenericDaoHibernate">
                <constructor-arg value="com.redhat.model.HwArch"/>
            </bean>
        </constructor-arg>
    </bean>
    <!--HwArchManager-END-->

    <!--HwMakeManager-START-->
    <bean id="hwMakeManager" class="com.redhat.service.impl.GenericManagerImpl">
        <constructor-arg>
            <bean class="com.redhat.dao.hibernate.GenericDaoHibernate">
                <constructor-arg value="com.redhat.model.HwMake"/>
            </bean>
        </constructor-arg>
    </bean>
    <!--HwMakeManager-END-->

    <!--HwModelManager-START-->
    <bean id="hwModelManager" class="com.redhat.service.impl.GenericManagerImpl">
        <constructor-arg>
            <bean class="com.redhat.dao.hibernate.GenericDaoHibernate">
                <constructor-arg value="com.redhat.model.HwModel"/>
            </bean>
        </constructor-arg>
    </bean>
    <!--HwModelManager-END-->

    <!--HwSpecManager-START-->
    <bean id="hwSpecManager" class="com.redhat.service.impl.GenericManagerImpl">
        <constructor-arg>
            <bean class="com.redhat.dao.hibernate.GenericDaoHibernate">
                <constructor-arg value="com.redhat.model.HwSpec"/>
            </bean>
        </constructor-arg>
    </bean>
    <!--HwSpecManager-END-->

    

    <!--HwCertManager-START-->
    <bean id="hwCertManager" class="com.redhat.service.impl.HwCertManagerImpl">
        <constructor-arg ref="hwCertDao" />         
    </bean>
    <!--HwCertManager-END-->

    <!-- Add new Managers here -->
</beans>