<!-- NOTE: If you're working offline, you might have to change the DOCTYPE to the following:
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">-->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="com.redhat.model.User"/>
        <mapping class="com.redhat.model.Role"/>

        <mapping class="com.redhat.model.Product"/>
        <mapping class="com.redhat.model.HwCert"/>
        <mapping class="com.redhat.model.HwArch"/>
        <mapping class="com.redhat.model.Vendor"/>
        <mapping class="com.redhat.model.HwMake"/>
        <mapping class="com.redhat.model.HwSpec"/>
    </session-factory>
</hibernate-configuration>